<!DOCTYPE html>
<html>
<head> 
    <link ref='stylesheet' type="=text/css"  href = '{{ url_for('static', filename='index.css') }}'>
</head>

    <body>
        <h1> Welcome! </h1>
        <h2> This is a simple website that does CRUDS with Flask + SQLAlchemy. </h2>
        <h2> Feel free to give it a try! </h2>

        <a href={{url_for('create_user')}}> Create User</a>

        <form method='POST'>
            <label for="name"> Search User </label>
            <input type="text" name="name" placeholder="Enter a name" value="{{ request.form['name'] }}"> </input>

            <button type="submit"> Search </button>
        </form>

        {%if users.total != 0%}
        <p> About {{users.total}} total results. Currently on page {{users.page}}/{{users.pages}}. </p>
        <p> Current People: </p>
        {%endif%}
        <!-- Loops through the users in this current page-->
        {%if users.total == 0 %}
            <p> No users were found. </p>
        {%endif%}
        {%for user in users.items%}
        <p>
            <a href = "{{url_for('get_user', id=user.id)}}"> Name: {{user.name}} Location: {{user.location}} </a>
        </p>
        {%endfor%}
        <!-- Checks to see if there is either a next button or a previous button needed-->
        {%if users.has_prev%}
            <a href = "{{url_for('index', page=users.prev_num) }}"> Previous</a>
        {%endif%}
        {%if users.has_next%}
            <a href = "{{url_for('index', page=users.next_num) }}"> Next </a>
        {%endif%}
    </body>
</html>

