<!DOCTYPE html>
{%extends 'footer.html'%}
{%block body%}
<html>
<head> 
    <link rel="stylesheet" href ="{{ url_for('static', filename='styles/index.css') }}" type="text/css" />
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}"/>
</head>
<html>
<div class = "home" style="height:65vh;">
    <body>
        <h1>{{user.name}}</h1>
        <hr>
        <table style = "width:40%; border-collapse:collapse">
            <tr>
                <th style = "color:white; hover:orange; padding:8px; text-align: center;">Location</th>
                <th style = "color:white; hover:orange; padding:8px; text-align: center;">Creation</th>
            </tr>
            <tr>
                <td style = "color: white; text-align:center; width:10%">{{user.location}}</td>
                <td style = "color: white; text-align:center; width:10%">{{user.date_created}}</td>
            </tr>
        </table>
        <br>
        <hr>
        <table>
            <tr>
            <td><button type="button" onClick="window.location.href='{{url_for('redirect_index')}}'" style="text-align:center;"> Back </button></td>
            <td><button type="button" onClick="window.location.href='{{url_for('delete_user', id=user.id) }}'" style="text-align:center;"> Delete </button></td>
            <td><button type="button" onClick="window.location.href='{{url_for('update_user', id=user.id) }}'" style="text-align:center;"> Update </button></td>
            </tr>
        </table>

    </body>
</div>
</html>
{%endblock%}